* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-decoration-style: none;
  color: #000000; }

body {
  background-image: url(../img/4853433.jpg);
  background-size: contain; }

h1 {
  font-family: "Oswald", sans-serif; }

h2 {
  font-family: "Oswald", sans-serif; }

p {
  font-family: "DM Sans", sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray; }
  header ul {
    display: flex; }
  header li {
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    color: black; }
  header a {
    color: black;
    text-decoration: none; }
  header a:hover {
    color: black;
    text-decoration: none; }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 0 1rem; }
  header nav li {
    transition: all .6s; }
  header nav li:hover {
    background-color: turquoise;
    color: greenyellow;
    transform: scale(1.1, 1.1); }
  header img {
    transition: all .5s; }
  header img:hover {
    transform: rotate(-7deg); }
  header .nav-link {
    color: black; }

/* Estilos generales del Index  */
.main-info {
  display: flex;
  background-image: url(../img/top-view-of-desk-top-with-notebook-and-scissors.jpg);
  justify-content: center;
  text-align: center; }

.main-text {
  display: flex;
  flex-direction: column;
  border: 4px solid;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }
  .main-text h1 {
    font-size: 1.8rem; }
  .main-text p {
    margin: 1%; }

.cards {
  display: flex;
  place-content: center; }
  .cards .carta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 4px solid;
    padding: 1rem;
    border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }
    .cards .carta__img {
      width: 40%; }
    .cards .carta__texto {
      padding: 3%; }

/* Index - Feedback */
.feedback {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: 4px solid;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }
  .feedback .feedback-h2 {
    padding-bottom: .5rem; }
  .feedback .feedback-opiniones {
    display: flex; }
    .feedback .feedback-opiniones .feedback-card {
      display: flex;
      flex-direction: column; }

/* Estilo general de Nosotros */
.nosotros-main {
  display: flex; }

.nosotros-info {
  display: flex;
  flex-direction: column; }
  .nosotros-info h1 {
    margin-bottom: 1rem; }
  .nosotros-info h2 {
    margin-bottom: 1rem; }

/* Producto */
.productos-h1 {
  display: flex;
  text-align: center; }

#prod-img {
  transition: all 0.5s; }

#prod-img:hover {
  border: 8px solid white;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

/* Estilo de la galeria */
.galeria-h1 {
  text-align: center;
  margin: 2rem 0; }

.galeria {
  display: grid; }
  .galeria__item-animation {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 1.5s;
    filter: grayscale(100%); }
  .galeria__item-animation:hover {
    transform: scale(1.2);
    filter: grayscale(0); }

/* Contacto */
form input {
  transition: all .2s; }

form input:hover {
  background-color: #f4f6ef;
  border: 2px solid black;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

form input:focus {
  background-color: #f4f6ef;
  border: 4px solid;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

form textarea:hover {
  background-color: #f4f6ef;
  border: 2px solid black;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

form textarea:focus {
  background-color: #f4f6ef;
  border: 4px solid black;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

.contacto-cards-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 4px solid;
  padding: 1rem;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1;
  background-image: linear-gradient(#f4f4ea, #e0f4e0); }

footer {
  display: flex;
  grid-area: "footer"; }
  footer nav {
    display: flex; }
    footer nav ul {
      display: flex; }
    footer nav li {
      font-family: "DM Sans", sans-serif;
      text-decoration: none;
      color: black; }
    footer nav li:hover {
      background-color: turquoise; }
  footer a {
    color: black;
    text-decoration: none; }
  footer a:hover {
    color: black;
    text-decoration: none; }
  footer img {
    transition: all .5s; }
  footer img:hover {
    transform: rotate(-7deg); }
  footer .footer-social {
    display: flex; }
    footer .footer-social img {
      transition: all .7s; }
    footer .footer-social img:hover {
      transform: scale(1.5, 1.5); }

#grilla {
  display: grid; }

#layout-container {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

#layout-nos-container {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

#layout-prod-container {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

#layout-galeria {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

#nos-grilla {
  display: grid; }

#prod-grilla {
  display: grid; }

#contact-grilla {
  display: grid; }

/* media queries para pantallas < 600px */
@media only screen and (max-width: 600px) {
  #layout-container {
    grid-template-rows: 100px auto 218px; }
  #layout-nos-container {
    grid-template-rows: 100px auto 218px; }
  #layout-prod-container {
    grid-template-rows: 100px auto 218px; }
  #layout-galeria {
    grid-template-columns: auto;
    grid-template-rows: 100px auto 200px; }
  #grilla {
    height: auto;
    grid-template-columns: auto;
    grid-template-areas: "zona1" "zona2" "zona3";
    align-content: space-evenly;
    justify-content: center; }
  #nos-grilla {
    height: 1450px;
    grid-template-columns: auto;
    grid-template-rows: 150px 550px 300px 350px;
    grid-template-areas: "zona1" "zona2" "zona3" "zona4";
    gap: 2%;
    place-items: center;
    text-align: center; }
  #prod-grilla {
    grid-template-columns: auto;
    grid-template-areas: "zona1" "zona2" "zona3" "zona4" "zona5" "zona6" "zona7";
    gap: 1.5rem;
    align-items: center;
    text-align: center; }
  #contact-grilla {
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: 50px 1100px 50px 700px;
    grid-template-areas: "titulo-medios" "medios" "titulo-form" "formulario";
    text-align: center;
    justify-items: center; }
  header {
    grid-area: "header"; }
  li {
    padding: .5rem; }
  main {
    grid-area: "main"; }
  /* Index para < 600px */
  .main-info {
    grid-area: "zona1";
    place-items: center;
    background-size: cover; }
  .main-text {
    width: 70%;
    padding: 7%; }
  .cards {
    grid-area: "zona2";
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .carta {
    height: 30%;
    width: 70%; }
  .carta__img {
    height: 40%; }
  .carta__texto {
    padding: 3%; }
  .feedback {
    grid-area: "zona3";
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: auto;
    padding-top: 5%; }
  .feedback-opiniones {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    text-align: center; }
  .feedback-card {
    width: 70%;
    gap: 1rem;
    padding: 15px; }
  /* nosotros para < 600px */
  .banner {
    grid-area: "zona1";
    width: 100%;
    height: 150px;
    background-image: url(../img/concept-or-composition-of-hygge-with-different-accessories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .nosotros-info {
    grid-area: "zona2";
    width: 85%;
    border: 4px solid;
    padding: 1rem;
    border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }
  .ubicacion-info {
    grid-area: "zona3";
    width: 85%;
    border: 4px solid;
    padding: 1rem;
    border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }
  .ubicacion-map {
    grid-area: "zona4";
    width: 90%;
    height: 80%;
    offset-block-end: 15px; }
  /* Productos para < 600px*/
  #prod-img {
    width: 100%;
    height: 100%;
    padding: 1%; }
  .productos-h1 {
    grid-area: "zona1";
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
    font-family: "Oswald", sans-serif; }
  .dibujo-img {
    grid-area: "zona2";
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    gap: 1.5rem; }
  .dibujo-info {
    grid-area: "zona3"; }
  .inspiradores-img {
    grid-area: "zona4";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 70%;
    gap: 1.5rem; }
  .inspiradores-info {
    grid-area: "zona5"; }
  .anotadores-img {
    grid-area: "zona6";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    gap: 2%;
    width: 70%;
    gap: 1.5rem; }
  .anotadores-info {
    grid-area: "zona7"; }
  /* Galeria para < 600px */
  .galeria__item {
    max-width: 70%;
    margin: 1rem;
    overflow: hidden; }
  .galeria {
    grid-template-columns: 1fr;
    place-items: center; }
  /*  Contacto para < 600px*/
  .contacto-h1 {
    grid-area: "titulo-medios";
    text-align: center;
    font-family: "Oswald", sans-serif; }
  .contacto-cards {
    grid-area: "medios";
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: space-evenly;
    align-items: center; }
  .contacto-cards-item {
    height: 27%;
    width: 80%; }
  .contacto-cards-img {
    height: 30%; }
  .form-h2 {
    grid-area: "titulo-form";
    text-align: center;
    font-family: "Oswald", sans-serif; }
  /* Estilo del formulario para < 600px */
  .contenedor-formulario {
    grid-area: "formulario";
    justify-self: center;
    width: 70%;
    margin-top: 10%; }
  .formulario {
    display: flex;
    flex-direction: column; }
  .formulario input {
    margin-bottom: .5rem;
    font-family: "DM Sans", sans-serif; }
  .formulario button {
    margin: 1rem;
    padding: 1rem;
    border-bottom: 3px solid white;
    border-right: 3px solid #bdbaba;
    border-radius: 1,5%; }
  label {
    line-height: 40px;
    font-family: "DM Sans", sans-serif; }
  /* Footer para < 600px */
  footer {
    grid-area: "footer";
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 50px; }
  footer ul {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: .3rem; }
  .footer-social {
    justify-content: space-between;
    width: 25%; } }

@media only screen and (min-width: 600px) {
  #layout-container {
    grid-template-rows: 150px 1400px 200px; }
  #layout-nos-container {
    grid-template-rows: 150px 1050px 200px; }
  #layout-prod-container {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1700px 200px; }
  #layout-galeria {
    grid-template-rows: 150px auto 200px; }
  #grilla {
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: 450px 450px 450px;
    grid-template-areas: "zona1" "zona2" "zona3";
    align-content: space-evenly;
    justify-content: center; }
  #nos-grilla {
    grid-area: "main";
    place-self: center;
    height: 1050px;
    grid-template-columns: 45% 45%;
    grid-template-rows: 500px 500px;
    grid-template-areas: "a1 a2" "b1 b2";
    gap: 2%;
    justify-content: center;
    align-content: center;
    place-items: center;
    text-align: center; }
  #contact-grilla {
    grid-template-rows: 90px 500px 50px 750px;
    grid-template-areas: "titulo-medios" "medios" "titulo-form" "formulario";
    text-align: center;
    place-items: center; }
  header {
    grid-area: "header"; }
    header li {
      margin: 0 1.5rem;
      font-size: 1.5rem;
      border-radius: 5px;
      padding: 0 .3rem;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px; }
    header .nav-img {
      margin-left: 40px; }
    header .header-ul {
      gap: 3rem; }
    header .navbar {
      height: 140px; }
  /* Index para >600px */
  .main-info {
    place-items: center;
    grid-area: "zona1";
    background-size: cover; }
  .main-text {
    width: 35%;
    height: 70%;
    padding: 2%;
    backdrop-filter: blur(8px);
    justify-content: center; }
  .cards {
    justify-content: space-evenly; }
    .cards .carta {
      height: 90%;
      width: 30%; }
  .feedback {
    grid-area: "zona3";
    margin: auto;
    width: 95%;
    height: 70%;
    gap: 10%; }
    .feedback .feedback-opiniones {
      justify-content: space-evenly;
      gap: 10%; }
      .feedback .feedback-opiniones .feedback-card {
        flex-direction: column;
        width: 35%; }
  /* Nosotros*/
  .banner {
    grid-area: "a1";
    background-image: url(../img/flat-lay-notepad-template-with-tea-concept.jpg);
    width: 90%;
    height: 90%;
    background-size: cover;
    background-position: center; }
  .nosotros-info {
    grid-area: "a2";
    width: 80%; }
  .ubicacion-info {
    grid-area: "b1";
    width: 60%; }
  .ubicacion-map {
    grid-area: "b2";
    width: 90%;
    height: 70%; }
  /* Producto para > 600px */
  #prod-grilla {
    height: auto;
    grid-template-columns: auto;
    grid-template-areas: "zona1" "zona2" "zona3" "zona4" "zona5" "zona6" "zona7";
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    place-items: center; }
  #prod-img {
    object-fit: cover;
    padding: 1%; }
  .productos-h1 {
    grid-area: "zona1";
    margin: 2rem 0; }
  .dibujo-img {
    grid-area: "zona2";
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    width: 80%; }
  .dibujo-info {
    grid-area: "zona3"; }
  .inspiradores-img {
    grid-area: "zona4";
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    width: 80%; }
  .inspiradores-info {
    grid-area: "zona5"; }
  .anotadores-img {
    grid-area: "zona6";
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    width: 80%; }
  .anotadores-info {
    grid-area: "zona7"; }
  /* Galeria para >600px */
  .galeria-contenedor {
    margin: 0 1rem; }
  .galeria {
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 450px 240px 350px 400px 400px 400px 400px 260px;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px; }
  .galeria__item {
    overflow: hidden; }
  /* Contacto para > 600px */
  .contacto-h1 {
    grid-area: "titulo-medios";
    text-align: center; }
  .contacto-cards {
    grid-area: "medios";
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    gap: 2%; }
  .contacto-cards-item {
    height: 100%;
    width: 30%; }
  .contacto-cards-img {
    width: 50%; }
  .form-h2 {
    grid-area: "titulo-form";
    text-align: center;
    font-family: "Oswald", sans-serif; }
  /* Estilo del formulario para > 600px*/
  .contenedor-formulario {
    grid-area: "formulario";
    justify-self: center;
    width: 50%; }
  /* Footer para >600px */
  footer {
    padding: 40px 25px;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center; }
    footer .footer-menu li {
      padding: 0 1rem; }
    footer .footer-social a {
      padding: 0 1rem; } }
