* {
  box-sizing: border-box;
  color: #000000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  background-image: url(../img/4853433.jpg);
  background-size: contain; }

h1,
h2 {
  font-family: "Oswald", sans-serif; }

p {
  font-family: "DM Sans", sans-serif; }

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid gray; }
  header ul {
    display: flex; }
  header li {
    color: black;
    padding: .5rem;
    text-decoration: none; }
  header a,
  header a:hover {
    color: black;
    text-decoration: none; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 2em;
    padding: 0 1em; }
  header nav li {
    transition: all .6s; }
  header nav li:hover {
    background-color: turquoise;
    color: greenyellow;
    transform: scale(1.1, 1.1); }
  header img {
    transition: all .5s; }
  header img:hover {
    transform: rotate(-7deg); }
  header .nav-link {
    color: black; }

/* Estilos generales del Index  */
main {
  grid-area: main; }

.main-info {
  grid-area: zona1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../img/top-view-of-desk-top-with-notebook-and-scissors.jpg);
  background-size: cover;
  padding: 1em 0; }

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1;
  padding: 7%;
  width: 70%; }
  .main-text h1 {
    font-size: 1.8rem; }
  .main-text p {
    margin: 1%; }

.cards {
  grid-area: zona2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }
  .cards .carta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 4px solid;
    border-image: linear-gradient(135deg, turquoise, greenyellow) 1;
    height: 30%;
    padding: 1em;
    width: 70%; }
    .cards .carta__img {
      height: 40%;
      width: 40%; }
    .cards .carta__texto {
      padding: 3%; }

/* Index - Feedback */
.feedback {
  grid-area: zona3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 4px solid;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1;
  margin: 1em auto;
  width: 70%; }
  .feedback .feedback-h2 {
    padding: 1em 0 .5em; }
  .feedback .feedback-opiniones {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 10%; }
    .feedback .feedback-opiniones .feedback-card {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      gap: 1rem;
      padding: 15px;
      width: 70%; }

/* Estilo general de Nosotros */
.banner {
  grid-area: zona1;
  background-image: url(../img/concept-or-composition-of-hygge-with-different-accessories.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%; }

.nosotros-info {
  grid-area: zona2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 4px solid;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1;
  padding: 1rem;
  width: 85%; }
  .nosotros-info h1 {
    margin-bottom: 1.1em; }
  .nosotros-info h2 {
    margin-bottom: 1em; }

.ubicacion-info {
  grid-area: zona3;
  border: 4px solid;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1;
  padding: 2em;
  width: 85%; }

.ubicacion-map {
  grid-area: zona4;
  height: 80%;
  width: 90%; }

/* Producto */
.productos-h1 {
  grid-area: zona1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin: 2em 0; }

.dibujo {
  grid-area: zona2; }

.producto__item__img {
  border: solid transparent 8px;
  transition: all 1s;
  width: 100%; }

.producto__item__img:hover {
  border: 8px solid white;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

.producto__item figure {
  width: 100%;
  margin: 0; }

.dibujo-info {
  grid-area: zona3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }

.inspiradores {
  grid-area: zona4; }

.inspiradores-info {
  grid-area: zona5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }

.anotadores {
  grid-area: zona6; }

.anotadores-info {
  grid-area: zona7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }

.dibujo,
.inspiradores,
.anotadores {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 1.5em;
  margin: 0 auto;
  width: 80%; }

/* Estilo de la galeria */
.galeria-h1 {
  margin: 1em 0;
  text-align: center; }

.galeria {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center; }
  .galeria__item {
    margin: 1em;
    max-width: 70%;
    overflow: hidden; }
  .galeria__item:hover {
    border: 8px solid white;
    border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }
  .galeria__item-animation {
    filter: grayscale(100%);
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 1.5s;
    width: 100%; }
  .galeria__item-animation:hover {
    filter: grayscale(0);
    transform: scale(1.2); }

/* Contacto */
.contacto-h1 {
  font-family: "Oswald", sans-serif;
  grid-area: titulo-medios;
  margin: auto;
  text-align: center; }

.form-h2 {
  font-family: "Oswald", sans-serif;
  grid-area: titulo-form;
  text-align: center; }

.contenedor-formulario {
  grid-area: formulario;
  justify-self: center;
  margin-top: 10%;
  width: 70%; }

form label {
  font-family: "DM Sans", sans-serif;
  line-height: 40px; }

form input {
  transition: all .2s; }

form input:hover {
  background-color: #f4f6ef;
  border: 2px solid black;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

form input:focus {
  background-color: #f4f6ef;
  border: 4px solid;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

form textarea:hover {
  background-color: #f4f6ef;
  border: 2px solid black;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

form textarea:focus {
  background-color: #f4f6ef;
  border: 4px solid black;
  border-image: linear-gradient(135deg, turquoise, greenyellow) 1; }

.contacto-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2%;
  grid-area: medios;
  justify-content: space-evenly; }
  .contacto-cards .contacto-cards-item {
    align-items: center;
    background-image: linear-gradient(#f4f4ea, #e0f4e0);
    border: 4px solid;
    border-image: linear-gradient(135deg, turquoise, greenyellow) 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 27%;
    padding: 1em;
    width: 80%; }
  .contacto-cards .contacto-cards-img {
    height: 30%; }

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  justify-content: space-evenly;
  margin-bottom: 50px;
  padding-top: 5%; }
  footer nav {
    display: flex; }
    footer nav ul {
      column-gap: .5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    footer nav li {
      color: black;
      text-decoration: none; }
    footer nav li:hover {
      background-color: turquoise; }
  footer a,
  footer a:hover {
    color: black;
    text-decoration: none; }
  footer img {
    transition: all .5s; }
  footer img:hover {
    transform: rotate(-7deg); }
  footer .footer-social {
    display: flex;
    justify-content: space-between;
    width: 25%; }
    footer .footer-social img {
      transition: all .7s; }
    footer .footer-social img:hover {
      transform: scale(1.5, 1.5); }

#grilla {
  display: grid;
  grid-template-areas: "zona1" "zona2" "zona3";
  align-content: space-evenly;
  justify-content: center; }

#layout-container, #layout-nos-container, #layout-prod-container, #layout-galeria, #layout-contacto {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

/* Practicando @extend */
#nos-grilla {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 350px;
  grid-template-areas: "zona1" "zona2" "zona3" "zona4";
  place-items: center;
  text-align: center;
  gap: 2em; }

#prod-grilla {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "zona1" "zona2" "zona3" "zona4" "zona5" "zona6" "zona7";
  gap: 1.5em;
  align-items: center; }

#contact-grilla {
  display: grid;
  height: auto;
  grid-template-columns: auto;
  grid-template-rows: 50px 1100px 50px 700px;
  grid-template-areas: "titulo-medios" "medios" "titulo-form" "formulario";
  text-align: center;
  justify-items: center; }

@media only screen and (min-width: 600px) {
  #grilla {
    grid-template-rows: 450px 450px 450px; }
  /*
    #layout-container {
        grid-template-rows:  150px 1400px 200px; 
    }
    */
  #layout-nos-container {
    grid-template-rows: 150px 1050px 200px; }
  #layout-prod-container {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1700px 200px; }
  #layout-galeria {
    grid-template-rows: 150px auto 200px; }
  #layout-contacto {
    grid-template-rows: 150px 1210px 200px; }
  #nos-grilla {
    grid-area: main;
    grid-template-areas: "a1 a2" "b1 b2";
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr;
    height: 1050px;
    justify-content: center;
    place-self: center; }
  #prod-grilla {
    gap: 0; }
  #contact-grilla {
    grid-template-rows: 90px 400px 50px auto; }
  header li {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
    font-size: 1.5rem;
    margin: 0 1.5rem;
    padding: 0 .3rem; }
  header .nav-img {
    margin-left: 40px; }
  header .header-ul {
    gap: 3rem; }
  header .navbar {
    height: 140px; }
  /* Index para >600px */
  .main-text {
    backdrop-filter: blur(8px);
    justify-content: center;
    padding: 10%; }
  .cards {
    flex-direction: row; }
    .cards .carta {
      height: 90%;
      width: 30%; }
  .feedback {
    margin: auto;
    width: 95%; }
    .feedback .feedback-opiniones {
      flex-direction: row;
      justify-content: space-around;
      margin-block: 2em;
      padding: 1em; }
      .feedback .feedback-opiniones .feedback-card {
        width: 35%; }
  /* Nosotros*/
  .banner {
    background-image: url(../img/flat-lay-notepad-template-with-tea-concept.jpg);
    grid-area: a1;
    height: 90%;
    width: 90%; }
  .nosotros-info {
    grid-area: a2;
    width: 90%; }
    .nosotros-info h1 {
      margin-bottom: .5em; }
    .nosotros-info h2 {
      margin-bottom: .5em; }
  .ubicacion-info {
    grid-area: b1;
    min-height: 70%;
    width: 90%; }
  .ubicacion-map {
    grid-area: b2;
    height: 70%;
    width: 90%; }
  /* Producto para > 600px */
  .dibujo,
  .inspiradores,
  .anotadores {
    align-items: center;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    padding: 1em;
    width: 100%; }
  /* Galeria para >600px */
  .galeria-contenedor {
    margin: 0 1rem; }
  .galeria {
    column-gap: 2em;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 450px 240px 350px 400px 400px 400px 400px 260px;
    justify-content: center;
    row-gap: 2em; }
    .galeria__item {
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      width: 100%; }
  /* Contacto para > 600px */
  .contacto-cards {
    flex-direction: row;
    height: 75%;
    margin: auto;
    width: 85%; }
    .contacto-cards .contacto-cards-item {
      height: 100%;
      width: 100%; }
    .contacto-cards .contacto-cards-img {
      width: 50%; }
  /* Estilo del formulario para > 600px*/
  .contenedor-formulario {
    margin-top: .5em;
    width: 50%; }
  /* Footer para >600px */
  footer {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-top: 0; }
    footer .footer-menu li {
      padding: 0 1rem; }
    footer .footer-social a {
      padding: 0 1rem; } }
