* {
    box-sizing: border-box;
    color: #000000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-image: url(../img/fondo.webp);
    background-size: contain;
}

h1,
h2 {
    font-family: $fuente_uno;
}

p {
    font-family: $fuente_dos;
}
@mixin flexi ($dis , $dire , $justi , $align , $txtalign){
    display: $dis;
    flex-direction: $dire;
    justify-content: $justi;
    align-items: $align;
    text-align: $txtalign;
}

header {
    grid-area: header;
    @include flexi (flex , row , space-between , center , center);
    border-bottom: 1px solid gray;

    ul {
        display:flex;
    }

    li {
        color:black;
        padding:.5rem;
        text-decoration: none;
    }

    a,
    a:hover {
        color:black;
        text-decoration: none;
    }

    nav {
        @include flexi (flex , row , space-evenly , center , center);
        gap: 2em;
        padding:0 1em;
    }

    nav li {
        transition:all .6s;
    }

    nav li:hover {
        background-color:turquoise;
        color: greenyellow;
        transform: scale(1.1,1.1);
    }

    img {
        transition: all .5s;
    }

    img:hover {
        transform: rotate(-7deg);
    }

    .nav-link {
        color:black;
    } 
}

/* Estilos generales del Index  */
main {
    grid-area: main;
}

.main-info {
    grid-area: zona1;
    @include flexi (flex , row , center , center, center );
    background-image: url(../img/top-view-of-desk-top-with-notebook-and-scissors.webp);
    background-size: cover;
    padding: 1em 0;
}

.main-text {
    @include flexi (flex , column , center , center, center );
    border: 4px solid;
    border-image: $borde_uno;
    padding: 7%;
    width: 70%;
    max-width: 90%;

    h1 {
        font-size: 1.8rem;
    }

    p {
        margin: 1%;
    }
}

.cards {
    grid-area: zona2;
    @include flexi (flex , column , space-evenly , center, center );
    
    .carta {
        @include flexi (flex , column , space-evenly , center, center );
        border: 4px solid;
        border-image: $borde_uno;
        height: 30%;
        padding: 1em;
        width: 70%;

        &__img {
            height: 40%;
            width:40%;
        }
    
        &__texto {
            padding: 3%;
        }
    }
}

/* Index - Feedback */
.feedback {
    grid-area: zona3;
    @include flexi (flex , column , space-evenly , center, center );
    border: 4px solid;
    border-image: $borde_uno;
    margin: 1em auto;
    width: 70%;

    .feedback-h2 {
        padding: 1em 0 .5em;
    }

    .feedback-opiniones {
        @include flexi (flex , column , space-evenly , center, center );
        gap: 10%;
        
        .feedback-card {
            @include flexi (flex , column , space-evenly , center, center );
            gap:1rem;
            padding: 15px;
            width: 70%;
        }
    }
}

/* Estilo general de Nosotros */
.banner {
    grid-area: zona1;
    background-image: url(../img/concept-or-composition-of-hygge-with-different-accessories.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width:100%;
}

.nosotros-info {
    grid-area: zona2;
    @include flexi (flex , column , space-evenly , center, center );
    border: 4px solid;
    border-image: $borde_uno;
    padding: 1rem;
    width: 85%;

    h1 {
        margin-bottom: 1.1em;
    }
    
    h2 {
        margin-bottom: 1em;
    }
}

.ubicacion-info {
    grid-area: zona3;
    border: 4px solid;
    border-image: $borde_uno;
    padding: 2em;
    width: 85%;
}

.ubicacion-map {
    grid-area: zona4;
    height: 80%;
    width: 90%;
}

/* Producto */
.productos-h1 {
    grid-area: zona1;
    @include flexi (flex , column , space-evenly , center, center );
    font-family: $fuente_uno;
    margin: 2em 0;
}

.dibujo {
    grid-area: zona2;
}

.producto__item {
    &__img {
        border: solid transparent 8px;
        transition:all 1s;
        width:100%;
    }
    
    &__img:hover {
        border: 8px solid white;
        border-image: $borde_uno;
        transform:translateX(-5px);
        transition: ease-in-out .5s;
    }
}

.dibujo-info {
    grid-area: zona3;
    @include flexi (flex , column , space-evenly , center, center );
}

.inspiradores {
    grid-area: zona4;  
}

.inspiradores-info {
    grid-area: zona5;
    @include flexi (flex , column , space-evenly , center, center );
}

.anotadores {
    grid-area: zona6;
}

.anotadores-info {
    grid-area: zona7;
    @include flexi (flex , column , space-evenly , center, center );
}

.dibujo,
.inspiradores,
.anotadores {
    @include flexi (flex , column , space-evenly , center, center );
    gap: 1.5em;  
    margin: 0 auto; 
    width: 80%; 
}

/* Estilo de la galeria */
.galeria-h1 {
    margin: 1em 0;
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    &__item {
        margin: 1em;
        max-width:70%;
        overflow: hidden;
    }

    &__item:hover {
        border: 8px solid white;
        border-image: $borde_uno;
    }

    &__item-animation{
        filter: grayscale(100%);
        height: 100%;
        object-fit:cover;
        transition: ease-in-out 1.5s;
        width: 100%;
    }
    
    &__item-animation:hover {
        filter: grayscale(0);
        transform: scale(1.2);
    }
}

/* Contacto */

.contacto-h1 {
    font-family: $fuente_uno;
    grid-area: titulo-medios;
    margin: auto;
    text-align: center;
}

.form-h2 {
    font-family: $fuente_uno;
    grid-area: titulo-form;
    text-align: center;
}

.contenedor-formulario {
    grid-area: formulario;
    justify-self: center;
    margin-top: 10%;
    width: 70%;
}

form {
    label {
        font-family: $fuente_dos;
        line-height: 40px;
    }

    input {
        transition:all .2s;
    }

    input:hover {
        background-color: rgb(244, 246, 239);
        border:2px solid black;
        border-image: $borde_uno;
    }

    input:focus {
        background-color: rgb(244, 246, 239);
        border:4px solid;
        border-image: $borde_uno;
    }

    textarea:hover {
        background-color: rgb(244, 246, 239);
        border:2px solid black;
        border-image: $borde_uno;
    }

    textarea:focus {
        background-color: rgb(244, 246, 239);
        border: 4px solid black;
        border-image: $borde_uno;    
    }
}

.contacto-cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2%;
    grid-area: medios;
    justify-content: space-evenly;
    
    .contacto-cards-item {
        align-items: center;
        background-image: linear-gradient(rgb(244, 244, 234), rgb(224, 244, 224));
        border: 4px solid;
        border-image: $borde_uno;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        height: 27%;
        padding: 1em;
        width: 80%;
    }

    .contacto-cards-img {
        height: 30%;
    }
}

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: footer;
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding-top:5%;
    
    nav {
        display: flex;

        ul {
            column-gap: .5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        li {
            color:black;
            text-decoration: none;
        }

        li:hover {
            background-color:turquoise;
        }
    }

    a,
    a:hover {
        color:black;
        text-decoration: none;
    }

    img {
        transition:all .5s;
    }
    
    img:hover {
        transform: rotate(-7deg);
    }

    .footer-social {
        display: flex;
        justify-content:space-between; 
        width: 25%;
    
        img {
            transition:all .7s;
        }

        img:hover {
            transform: scale(1.5,1.5);
        }
    }
}