* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    text-decoration-style: none;
    color: #000000;
}

body{
    background-image: url(../img/4853433.jpg);
    background-size: contain;
}

h1,
h2 {
    font-family: $fuente_uno;
}

p {
    font-family: $fuente_dos;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    grid-area: header;  

    ul {
        display:flex;
    }

    li {
        color:black;
        text-decoration: none;
        padding:.5rem;
    }

    a,
    a:hover {
        color:black;
        text-decoration: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;
        padding:0 1em; 
    }

    nav li {
        transition:all .6s;
    }

    nav li:hover {
        background-color:turquoise;
        color: greenyellow;
        transform: scale(1.1,1.1);
    }

    img {
        transition: all .5s;
    }

    img:hover {
        transform: rotate(-7deg);
    }

    .nav-link {
        color:black;
    } 
}

/* Estilos generales del Index  */
main {
    grid-area: main;
}

.main-info {
    display: flex;
    background-image: url(../img/top-view-of-desk-top-with-notebook-and-scissors.jpg);
    justify-content: center;
    text-align: center;
    grid-area: zona1;
    place-items: center;
    background-size: cover;
    padding: 1em 0;
}

.main-text {
    display: flex;
    flex-direction: column;
    border: 4px solid;
    border-image: $borde_uno;
    width: 70%;
    padding: 7%;

    h1 {
        font-size: 1.8rem;
    }

    p {
        margin: 1%;
    }
}

.cards {
    display:flex;
    place-content: center;
    grid-area: zona2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .carta {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        border: 4px solid;
        padding: 1em;
        border-image: $borde_uno;
        height: 30%;
        width: 70%;

        &__img {
            width:40%;
            height: 40%;
        }
    
        &__texto {
            padding: 3%;
        }
    }
}

/* Index - Feedback */
.feedback {
    display: flex;
    flex-direction: column;
    text-align:center;
    border: 4px solid;
    border-image: $borde_uno;
    grid-area: zona3;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 1em auto;

    .feedback-h2 {
        padding: 1em 0 .5em;
    }

    .feedback-opiniones {
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10%;
        text-align: center;
        
        .feedback-card {
            display:flex;
            flex-direction: column;
            width: 70%;
            gap:1rem;
            padding: 15px;
        }
    }
}

/* Estilo general de Nosotros */
.banner {
    grid-area: zona1;
    width:100%;
    height: 150px;
    background-image: url(../img/concept-or-composition-of-hygge-with-different-accessories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nosotros-main {
    display: flex;
}

.nosotros-info {
    display: flex;
    flex-direction: column;
    grid-area: zona2;
    width: 85%;
    border: 4px solid;
    padding: 1rem;
    border-image: $borde_uno;

    h1 {
        margin-bottom: 1.1em;
    }
    
    h2 {
        margin-bottom: 1em;
    }
}

.ubicacion-info {
    grid-area: zona3;
    width: 85%;
    border: 4px solid;
    padding: 1rem;
    border-image: $borde_uno;
}

.ubicacion-map {
    grid-area: zona4;
    width: 90%;
    height: 80%;
    offset-block-end: 15px;
}

/* Producto */
.productos-h1 {
    grid-area: zona1;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0;
    font-family: $fuente_uno;
}

.dibujo {
    grid-area: zona2;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    gap: 1.5em;
}

.producto__item {
    
    &__img {
        width:100%;
        transition:all 1s;
    }
    
    &__img:hover {
        border: 8px solid white;
        border-image: $borde_uno; 
    }
}

.dibujo-info {
    grid-area: zona3;
}

.inspiradores {
    grid-area: zona4;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    gap: 1.5em;    
}

.inspiradores-info {
    grid-area: zona5;
}

.anotadores {
    grid-area: zona6;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    gap: 1.5em;
}

.anotadores-info {
    grid-area: zona7;
}

/* Estilo de la galeria */
.galeria-h1 {
    text-align: center;
    margin: 1em 0;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    &__item {
        max-width:70%;
        margin: 1em ;
        overflow: hidden;
    }

    &__item:hover {
        border: 8px solid white;
        border-image: $borde_uno;
    }

    &__item-animation{
        width: 100%;
        height: 100%;
        object-fit:cover;
        transition: ease-in-out 1.5s;
        filter: grayscale(100%);
    }
    
    &__item-animation:hover {
        transform: scale(1.2);
        filter: grayscale(0);
        
    }
}

/* Contacto */

.contacto-h1 {
    grid-area: titulo-medios;
    text-align: center;
    font-family: $fuente_uno;
    margin: auto;
}

.form-h2 {
    grid-area: titulo-form;
    text-align: center;
    font-family: $fuente_uno;
}

.contenedor-formulario {
    grid-area: formulario;
    justify-self: center;
    width: 70%;
    margin-top: 10%;
}

form {
    label {
        line-height: 40px;
        font-family: $fuente_dos;
    }

    input {
    transition:all .2s;
    }

    input:hover {
    background-color: rgb(244, 246, 239);
    border:2px solid black;
    border-image: $borde_uno;
    }

    input:focus {
    background-color: rgb(244, 246, 239);
    border:4px solid;
    border-image: $borde_uno;
    }

    textarea:hover {
    background-color: rgb(244, 246, 239);
    border:2px solid black;
    border-image: $borde_uno;
    }

    textarea:focus {
    background-color: rgb(244, 246, 239);
    border: 4px solid black;
    border-image: $borde_uno;    
    }
}

.contacto-cards {
    grid-area: medios;
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: space-evenly;
    align-items: center;

    .contacto-cards-item {
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        border: 4px solid;
        padding: 1em;
        border-image: $borde_uno;
        background-image: linear-gradient(rgb(244, 244, 234), rgb(224, 244, 224));
        height: 27%;
        width: 80%;
    }

    .contacto-cards-img {
        height: 30%;
    }
}

footer {
    display: flex;
    grid-area: footer;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top:5%;
    margin-bottom: 50px;

    nav {
        display: flex;

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: .5rem;
        }

        li {
        text-decoration: none;
        color:black;
        }

        li:hover {
            background-color:turquoise;
        }
    }

    a,
    a:hover {
        color:black;
        text-decoration: none;
    }

    img {
        transition:all .5s;
    }
    
    img:hover {
        transform: rotate(-7deg);
    }

    .footer-social {
        display: flex;
        justify-content:space-between; 
        width: 25%;
    
        img {
            transition:all .7s;
        }

        img:hover {
            transform: scale(1.5,1.5);
        }
    }
}