#grilla { 
    display: grid;
    grid-template-areas: "zona1"
                         "zona2"
                         "zona3";
    align-content: space-evenly;
    justify-content: center;
}

#layout-container {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
   
}
/* Practicando @extend */
#layout-nos-container {
    @extend #layout-container;
}

#layout-prod-container {
    @extend #layout-container;
}

#layout-galeria {
    @extend #layout-container;
}

#layout-contacto {
    @extend #layout-container;
}

#nos-grilla { 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 350px;
    grid-template-areas: "zona1"
                         "zona2"
                         "zona3"
                         "zona4";
    
    place-items: center;
    text-align: center;
    gap: 2em;
}

#prod-grilla {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "zona1"
                         "zona2"
                         "zona3"
                         "zona4"
                         "zona5"
                         "zona6"
                         "zona7";
    gap: 1.5em;
    align-items: center;
}

#contact-grilla {
    display: grid;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: 50px 1100px 50px 700px;
    grid-template-areas: "titulo-medios"
                         "medios"
                         "titulo-form"
                         "formulario";
    text-align: center;
    justify-items: center;
}
