@media only screen and (min-width: 600px) {
    #layout-container {
        grid-template-rows:  150px 1400px 200px;
    }

    #layout-nos-container {
        grid-template-rows:  150px 1050px 200px;
    }

    #layout-prod-container {
        grid-template-columns: 1fr;
        grid-template-rows:  150px 1700px 200px;
    }

    #layout-galeria {
        grid-template-rows: 150px auto 200px;
    }

    #grilla {
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: 450px 450px 450px;
        grid-template-areas: "zona1"
                             "zona2"
                             "zona3";
        align-content: space-evenly;
        justify-content: center;
    }

    #nos-grilla {
        grid-area:"main";
        place-self: center;
        height: 1050px;
        grid-template-columns: 45% 45%;
        grid-template-rows: 500px 500px;
        grid-template-areas: "a1 a2"
                             "b1 b2";
        gap: 2%;
        justify-content: center;
        align-content: center;
        place-items: center;
        text-align: center;
    }       

    #contact-grilla {
        grid-template-rows: 90px 500px 50px 750px;
        grid-template-areas: "titulo-medios"
                             "medios"
                             "titulo-form"
                             "formulario";
        text-align: center;
        place-items: center;
    }

    header {
        grid-area: "header";

        li {
            margin:0 1.5rem;
            font-size: 1.5rem;
            border-radius: 5px;
            padding:0 .3rem;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 2rem;
            padding:0 15px; 
        }

        .nav-img {
            margin-left: 40px;
        }
        
        .header-ul {
            gap: 3rem;
        }
        
        .navbar {
            height:140px;
        }
     
    }

    /* Index para >600px */
    .main-info {
        place-items: center;
        grid-area: "zona1";
        background-size: cover;
    }

    .main-text {
        width: 35%;
        height: 70%;
        padding: 2%;
        backdrop-filter: blur(8px);
        justify-content: center;
    }

    .cards {
        justify-content: space-evenly;

        .carta {
            height: 90%;
            width: 30%;
        }
    }

    .feedback {
        grid-area: "zona3";
        margin:auto;
        width: 95%;
        height: 70%;
        gap:10%;

        .feedback-opiniones {
            justify-content: space-evenly;
            gap: 10%;
            
            .feedback-card {
                flex-direction: column;
                width: 35%;
            }
        }
    }

    /* Nosotros*/
    .banner {
        grid-area: "a1";
        background-image: url(../img/flat-lay-notepad-template-with-tea-concept.jpg);
        width:90%;
        height: 90%;
        background-size: cover;
        background-position: center;
    }

    .nosotros-info {
        grid-area:"a2";
        width: 60%;
    }

    .ubicacion-info {
        grid-area:"b1";
        width: 60%;
    }

    .ubicacion-map {
        grid-area: "b2";
        width: 90%;
        height: 70%;
    }

/* Producto para > 600px */

    #prod-grilla {
    height: auto;
    grid-template-columns: auto;
    grid-template-areas: "zona1"
                         "zona2"
                         "zona3"
                         "zona4"
                         "zona5"
                         "zona6"
                         "zona7";
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    place-items: center;
    }

    #prod-img {
    object-fit: cover;
    padding: 1%;
    }

    .productos-h1 {
    grid-area: "zona1";
    margin: 2rem 0;
    }

    .dibujo-img {
    grid-area: "zona2";
    display: flex;
    gap:10%;
    justify-content: space-evenly;
    width:80%;
    }

    .dibujo-info {
    grid-area: "zona3";
    }

    .inspiradores-img {
    grid-area: "zona4";
    display: flex;
    gap:10%;
    justify-content: space-evenly;
    width:80%;
    }

    .inspiradores-info {
    grid-area: "zona5";
    }

    .anotadores-img {
    grid-area: "zona6";
    display: flex;
    gap:10%;
    justify-content: space-evenly;
    width:80%;
    }

    .anotadores-info {
    grid-area: "zona7";
    }

/* Galeria para >600px */

    .galeria-contenedor {
    margin: 0 1rem;
    }   

    .galeria {
    grid-template-columns:30% 30% 30%;
    grid-template-rows: 450px 240px 350px 400px 400px 400px 400px 260px;
    justify-content:center;
    column-gap:30px;
    row-gap: 30px;
    }

    .galeria__item {
    overflow: hidden;
    }

/* Contacto para > 600px */
    .contacto-h1 {
    grid-area: "titulo-medios";
    text-align: center;
    }

    .contacto-cards {
    grid-area: "medios";
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    gap: 2%;
    }

    .contacto-cards-item {
    height: 100%;
    width: 30%;
    }

    .contacto-cards-img {
    width: 50%;
    }

    .form-h2 {
    grid-area: "titulo-form";
    text-align: center;
    font-family: 'Oswald', sans-serif;
    }

/* Estilo del formulario para > 600px*/
    .contenedor-formulario {
    grid-area: "formulario";
    justify-self: center;
    width: 50%;
    }

/* Footer para >600px */
    footer {
    padding: 40px 25px;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;

    .footer-menu li {
        padding:0 1rem;
    }

    .footer-social a {
        padding:0 1rem;
    }
    }
}