/* media queries para pantallas < 600px */

@media only screen and (max-width: 600px) {
    #layout-container {
        grid-template-rows:  100px auto 218px;
    }

    #layout-nos-container {
        grid-template-rows:  100px auto 218px;
    }

    #layout-prod-container {
        grid-template-rows:  100px auto 218px;
    }

    #layout-galeria {
        grid-template-columns: auto;
        grid-template-rows:  100px auto 200px;
    }
    
    #grilla {
        height: auto;
        grid-template-columns: auto;
        
        grid-template-areas: "zona1"
                             "zona2"
                             "zona3";
        align-content: space-evenly;
        justify-content: center;
    }

    #nos-grilla {
        height: 1450px;
        grid-template-columns: auto;
        grid-template-rows: 150px 550px 300px 350px;
        grid-template-areas: "zona1"
                             "zona2"
                             "zona3"
                             "zona4";
        gap: 2%;
        place-items: center;
        text-align: center;
    }

    #prod-grilla {
        grid-template-columns: auto;
        grid-template-areas: "zona1"
                             "zona2"
                             "zona3"
                             "zona4"
                             "zona5"
                             "zona6"
                             "zona7";
        gap: 1.5rem;
        align-items: center;
        text-align: center;
        }

    #contact-grilla {
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: 50px 1100px 50px 700px;
        grid-template-areas: "titulo-medios"
                             "medios"
                             "titulo-form"
                             "formulario";
        text-align: center;
        justify-items: center;
    }

    header {
        grid-area: "header";
    }

    li {
        padding:.5rem;
    }

    main {
        grid-area: "main";
    }

    /* Index para < 600px */
    .main-info {
        grid-area: "zona1";
        place-items: center;
        background-size: cover;
    }

    .main-text {
        width: 70%;
        padding: 7%;
    }

    .cards {
        grid-area: "zona2";
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .carta {
        height: 30%;
        width: 70%;
    }

    .carta__img {
        height: 40%;
    }

    .carta__texto {
        padding: 3%;
    }

    .feedback {
        grid-area: "zona3";
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        margin: auto;
        padding-top: 5%;
    }

    .feedback-opiniones {
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10%;
        text-align: center;
    }

    .feedback-card {
        width: 70%;
        gap:1rem;
        padding: 15px;
    }
    
    /* nosotros para < 600px */

    .banner {
        grid-area: "zona1";
        width:100%;
        height: 150px;
        background-image: url(../img/concept-or-composition-of-hygge-with-different-accessories.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .nosotros-info {
        grid-area: "zona2";
        width: 85%;
        border: 4px solid;
        padding: 1rem;
        border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
    }

    .ubicacion-info {
        grid-area:"zona3";
        width: 85%;
        border: 4px solid;
        padding: 1rem;
        border-image: linear-gradient(45deg,greenyellow, turquoise) 1;
    }
    
    .ubicacion-map {
        grid-area: "zona4";
        width: 90%;
        height: 80%;
        offset-block-end: 15px;
    }
    
/* Productos para < 600px*/
    #prod-img {
        width:100%;
        height: 100%;
        padding: 1%;
    }

    .productos-h1 {
        grid-area: "zona1";
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 2rem 0;
        font-family: $fuente_uno;
    }

    .dibujo-img {
        grid-area: "zona2";
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70%;
        gap: 1.5rem;
    }

    .dibujo-info {
        grid-area: "zona3";
    }

    .inspiradores-img {
        grid-area: "zona4";
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        width: 70%;
        gap: 1.5rem;
    }

    .inspiradores-info {
        grid-area: "zona5";
    }

    .anotadores-img {
        grid-area: "zona6";
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        gap:2%;
        width: 70%;
        gap: 1.5rem;
    }

    .anotadores-info {
        grid-area: "zona7";
    }

/* Galeria para < 600px */

    .galeria__item {
        max-width:70%;
        margin: 1rem ;
        overflow: hidden;
    }
    
    .galeria {
        grid-template-columns: 1fr;
        place-items: center;
    }

/*  Contacto para < 600px*/

.contacto-h1 {
    grid-area: "titulo-medios";
    text-align: center;
    font-family: $fuente_uno;
}

.contacto-cards {
    grid-area: "medios";
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: space-evenly;
    align-items: center;
}

.contacto-cards-item {
    height: 27%;
    width: 80%;
}

.contacto-cards-img {
    height: 30%;
}


.form-h2 {
    grid-area: "titulo-form";
    text-align: center;
    font-family: $fuente_uno;
}

/* Estilo del formulario para < 600px */
.contenedor-formulario {
    grid-area: "formulario";
    justify-self: center;
    width: 70%;
    margin-top: 10%;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario input {
    margin-bottom: .5rem;
    font-family: $fuente_dos;
}

.formulario button {
    margin: 1rem;
    padding: 1rem;
    border-bottom: 3px solid white;
    border-right: 3px solid rgb(189, 186, 186);
    border-radius: 1,5%;
}

label {
    line-height: 40px;
    font-family: $fuente_dos;
}

/* Footer para < 600px */

footer {
    grid-area: "footer";
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top:5%;
    margin-bottom: 50px;
}

footer ul {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: .3rem;
}

.footer-social {
    justify-content:space-between; 
    width: 25%;
}
      
}